body {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column
}
.margin-reset {
    margin: 0px;
}
#toolbar {
  background: #3C3A39;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 4vh;
}
#logo {
  color: #FFFFFF;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
}
#headline {
  background: #1C1A19;
  padding: 17vh 3vh;
  position: relative;
}
#background-image {
  position: absolute;
  top: 160px;
  right: -1px;
  transform: rotate(359deg);
  z-index: 1;
}
#heading {
  font-family: 'Crete Round';
  color: #FF6B00;
  font-size: 56px;
  position: relative;
}
.sub-heading {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 24px;
  color: #FFF5E1;
  position: relative;
}
.headline-desc {
  font-family: 'Poppins';
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
#social-media {
  margin: 4vh 1vh;
}
#social-media a {
  margin: 0vh 0.5vh;
}